<app-breadcrumb [breadcrumbList]="breadcrumbData"  ></app-breadcrumb>
<br>
<div class="w3-padding">
  <div class="row">
    <div class="col-md-3 w3-padding">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="/assets/img/application.gif" alt="User profile picture">

          <h3 class="profile-username text-center">{{ course.name }}</h3>


          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>{{ "student register" | trans }}</b> <a class="pull-left">{{ course.register_student_count }}</a>
            </li>
            <li class="list-group-item">
              <b>{{ "departments" | trans }}</b> <a class="pull-left">{{ course.department_count }}</a>
            </li>
          </ul>

          <button mat-raised-button class="btn w3-indigo app-button btn-block"  [routerLink]="['/lectures/', course.id]" >
            <b class="w3-right" >{{"back" | trans}}</b>
            <b class="w3-left fa fa-reply" style="padding-top: 9px"    ></b>
          </button>

          <button mat-raised-button class="btn app-button btn-block w3-red" *ngIf="resource.can_delete" (click)="remove()"   >
            <b class="w3-right" >{{"remove lecture" | trans}}</b>
            <b class="w3-left fa fa-trash" style="padding-top: 9px"   ></b>
          </button>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ "lectures" | trans }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body hidden">
          <strong><i class="fa fa-book margin-r-5"></i> {{"description" | trans}}</strong>

          <p class="text-muted">
            {{ course.description }}
          </p>

          <hr>

          <strong><i class="fa fa-clock-o margin-r-5"></i> {{"credit_hour" | trans}}</strong>

          <p class="text-muted">{{ course.credit_hour }}</p>

          <hr>

          <strong><i class="fa fa-level-up margin-r-5"></i> {{"level" | trans}}</strong>

          <p class="text-muted">{{ course.level? course.level.name : '' }}</p>

          <hr>

          <strong><i class="fa fa-graduation-cap margin-r-5"></i> {{"large_degree" | trans}}</strong>

          <p class="text-muted">{{ course.large_degree }}</p>

          <hr>

          <strong><i class="fa fa-check-square margin-r-5"></i> {{"active" | trans}}</strong>

          <p class="text-muted">{{ course.active }}</p>

        </div>
        <!-- /.box-body -->
      </div>
      <ul class="w3-ul">
        <ng-container *ngFor="let item of lectures" >
          <li
        class="material-shadow w3-white w3-round w3-row"
        routerLink="/show-lecture" [queryParams]="{lecture_id: item.id, course_id: course.id}"
        style="margin-bottom: 5px;cursor: pointer;"
        *ngIf="resource.id != item.id" >
        <app-app-avatar
          [url]="'/assets/img/lecture.png'"
          [class]="'w3-round w3-col'"
          [style]="'background-size: 100% 100%'"
          [width]="'40px'"
          [height]="'40px'"
        ></app-app-avatar>
          <b class="w3-padding" style="float: right" >{{ item.name }}</b>
        </li>
        </ng-container>
      </ul>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9 w3-padding">
      <div class="material-shadow w3-padding w3-white w3-display-container">

        <ul class="timeline timeline-inverse">
          <!-- timeline time label -->
          <li class="time-label hidden">
                <span class="bg-red">
                  {{ "lecture name" | trans }}
                </span>
          </li>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <li>
            <i class="fa fa-edit theme-semi-dark w3-text-white"></i>

            <div class="timeline-item">

              <h3 class="timeline-header"> {{ resource.name }} </h3>

            </div>
          </li>
          <!-- END timeline item -->
          <!-- timeline time label -->
          <li class="time-label hidden" *ngIf="resource.file1_url || resource.file2_url" >
                <span class="bg-red">
                  -- {{ "files" | trans }} --
                </span>
          </li>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <li *ngIf="resource.file1_url || resource.file2_url">
            <i class="fa fa-file-o theme-semi-dark w3-text-white"></i>

            <div class="timeline-item">

              <h3 class="timeline-header" >
                {{ "files" | trans }}

              </h3>
              <div class="timeline-body" *ngIf="resource.file1_url">
                <a target="_blank"[href]="resource.file1_url" >
                  {{ "download file1" | trans }}
                </a>
              </div>
              <div class="timeline-body" *ngIf="resource.file2_url">
                <a target="_blank"[href]="resource.file2_url" >
                  {{ "download file2" | trans }}
                </a>
              </div>

            </div>
          </li>
          <!-- END timeline item -->
          <!-- timeline time label -->
          <li class="time-label hidden">
                <span class="bg-red">
                  -- {{ "video" | trans }} --
                </span>
          </li>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <li *ngIf="resource.video_url">
            <i class="fa fa-video-camera theme-semi-dark w3-text-white"></i>

            <div class="timeline-item">

              <h3 class="timeline-header"> {{ "lecture video" | trans }} </h3>

              <div class="timeline-body">
                <div class="video-container" *ngIf="resource.video_url" >
                  <video [src]="resource.video_url" autoplay  controls style="width: 100%;" ></video>
                </div>
              </div>
            </div>
          </li>
          <!-- END timeline item -->
          <!-- timeline time label -->
          <li class="time-label hidden">
                <span class="bg-red">
                   {{ "youtube_url" | trans }}
                </span>
          </li>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <li *ngIf="resource.youtube_url">
            <i class="fa fa-youtube-play theme-semi-dark w3-text-white"></i>

            <div class="timeline-item">

              <h3 class="timeline-header"> {{ "youtube video" | trans }} </h3>

              <div class="timeline-body">
                <iframe
                *ngIf="resource.youtube_url"
                style="width: 100%"
                height="315"
                [src]="resource.youtube_embeded_url"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <!-- END timeline item -->
          <!-- timeline time label -->
          <li class="time-label hidden">
                <span class="bg-red">
                   {{ "date" | trans }}
                </span>
          </li>
          <!-- /.timeline-label -->

          <!-- timeline time label -->
          <li class="time-label hidden">
                <span class="bg-red">
                   {{ "description" | trans }}
                </span>
          </li>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <li *ngIf="resource.description">
            <i class="fa fa-text-width theme-semi-dark w3-text-white"></i>

            <div class="timeline-item">

              <h3 class="timeline-header"> {{ "description of lecture" | trans }} </h3>

              <div class="timeline-body">
                <b>
                  {{ resource.description }}
                </b>
              </div>
            </div>
          </li>
          <!-- END timeline item -->



        </ul>

      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>

</div>



