<app-breadcrumb [breadcrumbList]="breadcrumbData"  ></app-breadcrumb>

<div class="w3-light-gray w3-block w3-padding filter-section">
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 w3-padding">
      <b>{{ 'search with name' | trans }}</b>
      <input type="text"   class="app-select material-shadow w3-white" style="border-radius: 5em;" placeholder="{{ 'search with name' | trans }}"    >
    </div>
  </div>
  <br>
</div>
<div class="w3-row">

  <div class="col-lg-2 col-md-2 w3-padding">
    <div class="w3-light-gray w3-round-large w3-padding">



    </div>
  </div>

  <div class="col-lg-10 col-md-10 data-" style="overflow: auto;" >

    <div class="w3-padding">


    </div>
  </div>


</div>
