 .login-modal {/*
 background-image: url('/assets/img/footer.png');
 background-position: bottom;
 background-size: 100% auto;*/
 }

 .login-header {
   height: 250px;
   background-color: #464775;
   width: 100%;
 }


 .login-box {
  margin-top: -11%;
 }
