<app-breadcrumb [breadcrumbList]="breadcrumbData"  ></app-breadcrumb>

<div class="w3-light-gray w3-block w3-padding filter-section">
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 w3-padding">
      <b>{{ 'search with name' | trans }}</b>
      <input type="text"   class="app-select material-shadow w3-white" style="border-radius: 5em;" placeholder="{{ 'search with name' | trans }}"   [(ngModel)]="filter.search"   >
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 w3-padding">
      <b>{{ "select course" | trans }}</b>
      <select class="app-select material-shadow w3-white" style="border-radius: 5em;" [(ngModel)]="filter.course_id" >
        <option value="">{{ "select course" | trans }}</option>
        <option *ngFor="let item of courses" value="{{ item.id }}">{{ item.name }}</option>
      </select>
    </div>
  </div>
  <br>
</div>
<div class="w3-row">

  <div class="col-lg-2 col-md-2 w3-padding">
    <div class="w3-light-gray w3-round-large w3-padding">

      <button mat-raised-button [disabled]="reload" class="w3-block w3-dark-gray w3-row app-button" (click)="get()" >
        <b class="w3-right" >{{ "reload" | trans }}</b>
        <i class="fa fa-refresh w3-left" style="padding-top: 10px;" *ngIf="!reload" ></i>
        <i class="fa fa-refresh fa-spin w3-left" style="padding-top: 10px;" *ngIf="reload" ></i>
      </button>

      <button mat-raised-button  class="w3-block w3-indigo w3-row app-button" (click)="create()" >
        <b class="w3-right" >{{ "add question category" | trans }}</b>
        <i class="fa fa-plus-circle w3-left" style="padding-top: 10px;"   ></i>
      </button>

      <button mat-raised-button  class="w3-block w3-teal w3-row app-button" routerLink="/questions" >
        <b class="w3-right" >{{ "questions" | trans }}</b>
        <i class="fa fa-desktop w3-left" style="padding-top: 10px;"   ></i>
      </button>

    </div>
  </div>

  <div class="col-lg-10 col-md-10 data-" style="overflow: auto;" >

    <div class="w3-padding">
      <table class="table table-bordered material-shadow w3-white">
        <tr>
          <th>{{ "name" | trans }}</th>
          <th>{{ "course" | trans }}</th>
          <th>{{ "details" | trans }}</th>
          <th></th>
        </tr>
        <tr>
          <td colspan="7" class="w3-padding text-center w3-xlarge theme-text-dark" *ngIf="reload" ><span class="fa fa-spin fa-spinner" ></span></td>
        </tr>
        <tr>
          <td colspan="7" class="w3-padding text-center w3-xlarge theme-text-dark" *ngIf="!reload && questions.length <= 0"  >
            <span class="" >{{ "there is no data" | trans }}</span>
          </td>
        </tr>
          <ng-container  *ngFor="let item of questions index as i">
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.course? item.course.name : '' }}</td>
              <td>{{ item.notes }}</td>
              <td>
                <button mat-icon-button class="w3-text-orange" style="margin: 5px" (click)="edit(item)" >
                  <i class="fa fa-edit" ></i>
                </button>
                <button mat-icon-button class="w3-text-red" style="margin: 5px" *ngIf="item.can_delete" (click)="archive(item)" >
                  <i class="fa fa-trash" ></i>
                </button>
              </td>
            </tr>
        </ng-container>
      </table>

    </div>
  </div>

</div>



<app-question-category-form [action]="action" [title]="'add category question'" ></app-question-category-form>

<app-question-category-form [action]="action" [title]="'edit category question'" [resource]="resource" [editable]="true" ></app-question-category-form>
