<div class="app-sidebar material-shadow" >
  <ul class="w3-ul" >
    <li routerLink="/main" >
      <i class="fa fa-home w3-xlarge" ></i>
      <br>
      <b class="" >{{ "home" | trans }}</b>
    </li>
    <li routerLink="/courses" >
      <i class="fa fa-graduation-cap w3-xlarge" ></i>
      <br>
      <b class="" >{{ "courses" | trans }}</b>
    </li>
    <li routerLink="/assigments" >
      <i class="fa fa-calendar-o w3-xlarge" ></i>
      <br>
      <b class="" >{{ "assigments" | trans }}</b>
    </li>
    <li routerLink="/questions" >
      <i class="fa fa-question w3-xlarge" ></i>
      <br>
      <b class="" >{{ "questions bank" | trans }}</b>
    </li>
    <li routerLink="/exams" >
      <i class="fa fa-newspaper-o w3-xlarge" ></i>
      <br>
      <b class="" >{{ "exams" | trans }}</b>
    </li>
    <li>
      <i class="fa fa-pie-chart w3-xlarge" ></i>
      <br>
      <b class="" >{{ "reports" | trans }}</b>
    </li>
  </ul>
</div>
