<div class="app-sidebar material-shadow" >
  <ul class="w3-ul" >
    <li routerLink="/main" >
      <i class="fa fa-home w3-xlarge" ></i>
      <br>
      <b class="" >{{ "home" | trans }}</b>
    </li>
    <li routerLink="/students" >
      <i class="fa fa-male w3-xlarge" ></i>
      <br>
      <b class="" >{{ "students" | trans }}</b>
    </li>
    <li routerLink="/doctors" >
      <i class="fa fa-briefcase w3-xlarge" ></i>
      <br>
      <b class="" >{{ "doctors" | trans }}</b>
    </li>
    <li routerLink="/courses" >
      <i class="fa fa-graduation-cap w3-xlarge" ></i>
      <br>
      <b class="" >{{ "courses" | trans }}</b>
    </li>
    <li routerLink="/users" >
      <i class="fa fa-user-circle w3-xlarge" ></i>
      <br>
      <b class="" >{{ "users" | trans }}</b>
    </li>
    <li>
      <i class="fa fa-gamepad w3-xlarge" ></i>
      <br>
      <b class="" >{{ "control" | trans }}</b>
    </li>
    <li routerLink="/settings" >
      <i class="fa fa-cogs w3-xlarge" ></i>
      <br>
      <b class="" >{{ "settings" | trans }}</b>
    </li>
    <li>
      <i class="fa fa-pie-chart w3-xlarge" ></i>
      <br>
      <b class="" >{{ "reports" | trans }}</b>
    </li>
  </ul>
</div>
