<app-breadcrumb [breadcrumbList]="breadcrumbData"  ></app-breadcrumb>

<div class="w3-light-gray w3-block w3-padding filter-section">
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6">
      <label class="w3-text-dark-gray" >{{ 'search with name' | trans }}</label>
      <input type="text"  class="app-select"   [(ngModel)]="filter.search"   >
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
      <label class="w3-text-dark-gray" >{{ "search with level" | trans }}</label>
      <select class="app-select" [(ngModel)]="filter.level_id" (change)="filter.department_id=null" >
        <option value="">{{ "select all" | trans }}</option>
        <option *ngFor="let item of levels" value="{{ item.id }}" >{{ item.name }}</option>
      </select>
    </div>
  </div>
  <br>
</div>
<div class="w3-row">

  <div class="col-lg-2 col-md-2 w3-padding">
    <div class="w3-light-gray w3-round-large w3-padding">

      <button mat-raised-button [disabled]="reload" class="w3-block w3-dark-gray w3-row app-button" (click)="get()" >
        <b class="w3-right" >{{ "reload" | trans }}</b>
        <i class="fa fa-refresh w3-left" style="padding-top: 10px;" *ngIf="!reload" ></i>
        <i class="fa fa-refresh fa-spin w3-left" style="padding-top: 10px;" *ngIf="reload" ></i>
      </button>

    </div>
  </div>

  <div class="col-lg-10 col-md-10 data-" style="overflow: auto;" >
    <div class="row w3-padding">
      <div class="col-lg-12 w3-padding text-center w3-xlarge theme-text-dark" *ngIf="reload" >
        <span class="fa fa-spin fa-spinner" ></span>
      </div>

      <div class="col-lg-12 w3-padding text-center w3-xlarge theme-text-dark" *ngIf="!reload && courses.length <= 0" >
        <span class="" >{{ "there is no data" | trans }}</span>
      </div>

      <ng-container  *ngFor="let item of courses index as i">

            <div class="col-lg-2 col-md-3 col-sm-4" *ngIf="!reload"  >
              <div
              style="cursor: pointer;"
              class="material-shadow w3-white w3-round w3-display-container w3-block text-center"
              [routerLink]="'/lectures/' + item.id">
                <app-app-avatar
                  [url]="item.url"
                  [icon]="'fa fa-graduation-cap'"
                  [class]="'w3-round w3-xlarge'"
                  [width]="'100%'"
                  [height]="'150px'" ></app-app-avatar>
                <div class="w3-padding text-center">
                  <b>{{ item.name }}</b>
                  <br>
                </div>
                <div *ngIf="item.deleted_at" >
                  <button class="btn fa fa-reply w3-green material-shadow" style="padding: 5px!important;margin: 5px" (click)="restore(item)" ></button>
                </div>
                <div class="w3-display-topleft w3-padding" *ngIf="!item.deleted_at" >
                  <span class="label label-success" *ngIf="item.active" >{{ "activited" | trans }}</span>
                  <span class="label label-danger" *ngIf="!item.active" >{{ "not_active" | trans }}</span>
                </div>
                <div class="w3-display-topleft w3-padding" *ngIf="item.deleted_at" >
                  <span class="label label-danger" >{{ "archive" | trans }}</span>
                </div>
              </div>
            </div>


      </ng-container>


    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 text-center w3-center" *ngIf="!archiveLoad" >
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a  class="btn" [ngClass]="{'disabled': !response.prev_page}" (click)="get({page: response.prev_page})"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li *ngFor="let item of response.pages_arr">
          <a class="btn" [ngClass]="{'active w3-indigo': response.current_page == item}" (click)="get({page: item})">{{ item }}</a>
        </li>
        <li>
          <a  class="btn" [ngClass]="{'disabled': !response.next_page}" (click)="get({page: response.next_page})"
            aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

